/* CSS HEX */
:root {
  --tiffany-blue: #07beb8ff;
  --medium-turquoise: #3dccc7ff;
  --davys-grey: #50514fff;
  --snow: #fffcffff;
  --radical-red: #ff1654ff;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
}

img {
  max-width: 100%;
  
}

.full-width {
  width: 100%;
}
.almost-full-width {
  width: 85%;
}
.half-width {
  max-width: 50%;
}
.third-width {
  width: 300px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;

}
main {
  margin: 30px auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  max-width: 960px;
}
main>* {
  display: flex;
}
footer {
  height: 200px;
  background-color: var(--davys-grey);
}
header {
  background-color: var(--davys-grey);
  margin: 0;
  padding: 0;
}
nav{
  color: #07beb8ff; 
  margin: 0 auto;
  max-width: 960px;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  max-width: 960px;
  gap: 2rem;
  height: 10rem;
  align-items: center;
  justify-content: space-between;
}
nav li {
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
}
#hero {
}
#sub-banner {
  justify-content: space-between;
  flex-direction: row;
}
#featured {
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  max-height: 400px;
}
#featured_banner {
  width: 480px;
}
#featured article {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: 30px;
  max-height: 90%;
}
#featured p {
  overflow: scroll;
  font-weight: normal;
  max-height: 75%;
}
#featured button {
  background-color: var(--medium-turquoise);
  color: var(--davys-grey);
  border: solid var(--radical-red) 1px;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 0px;
  max-width: 50%;
  line-height: 40px;
}